@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme='dark'] {
  @apply bg-black text-gray-100 transition-all duration-300;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.card3 {
  @apply transition-colors duration-500;
}

.card3:hover {
  @apply bg-[#DADDE2] dark:bg-[#303030];
}